.main-div{
    padding: 0 px;
    background-color: rgb(30, 30, 83);
}

.login-form {
    padding: 12px;

    .register-text {
        margin-top: 10px;
        font-size: 14px;
        color: gray;
    
        p {
          display: inline;
        }
    
        a {
          margin-left: 5px;
          color: blue;
          text-decoration: underline;
          cursor: pointer;
        }
      }
}

.info-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  color: #333;
  
  /* Customizing the info icon */
  &:before {
    content: "";
    margin-right: 5px;
  }
}