.container{
    background-color: rgb(30, 30, 83);
}
.main-div {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-content {
    padding: 12px;
}